@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
html {
  height: 100%;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x:hidden;
  height: 2000px;
}

:root{
  --primary-text-color: #183b56;
  --secondary-text-color: #5775;
  --accent-color:#2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body{
  font-family: 'Poppins', sans-serif;
  color: var(--primary-text-color);
  
}

.title h1{
 background-color: #e8f9fd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
}

.container{
  display:flex;
  
  justify-content: space-between;
  background-color:#f0f0f0;
  margin-top:10px;
  padding-block: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
 h2{
  margin-top:10px;
   margin-left:50px;
}
p{
   margin-left:50px;
}
.container right{
  /* margin-right:40px; */
}

img{
  width:100px;
  height:100px;
 margin-right:50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius:6px;
}

.form{
  background-color:#e8f9fd;
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
p1{
  margin-left: 30px;
}
input{
  padding:10px;
  border-radius:6px;
  margin-top: 5px;
  border: 0px solid white;
  margin-left: 30px;
  cursor:pointer;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
input:hover{
  background-color: #fdf6f6;
  border: 0px solid white;
}
select{
  padding:10px;
  border-radius: 6px;
  margin-top: 5px;
  border: 0px solid white;
  width: 50%;
  margin-left:30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
select[name="gender"]:hover{
  background-color: #fdf6f6;
}
select[name="MaritalStatus"]:hover{
  background-color: #fdf6f6;
}
select[name="yes_no"]:hover{
  background-color: #fdf6f6;
}
.emergency{
  margin-top: 10px;
  padding: 10px;
}
.emergency p{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.submit{
  margin-top:10px;
  color: #2294ed;
  
}
button{
    width: 50%;
  margin-left:30px;
  padding: 15px;
  background-color:#2294ed ;
  font-weight: bold;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 6px;
  border: solid 0px white;
}
button:hover{
  background-color:#4fa6e8 ;
  
}


.out_put{
  margin-top: 20px;
  padding: 10px;
  background-color: #f2e9e9;
 width: 100%;
  height: 650px;
  
  
}
.out_put h1{
   display: flex;
  align-items: center;
  justify-content: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.out_put p{
  padding: 10px;
 font-weight: bold;
  color: #272525;
}